{{console_log quiz.answers}}
<ol>
    {{#each quiz.answers.[questionIndex] as |answer answerIndex|}}
    <li>
        <button class="answer-btn">
            {{answer}}
        </button>
    </li>
    {{/each}}
</ol>