{{#each this.questions as |question questionIndex|}}
<div class="question">
    <h3>{{question}}</h3>
    <ol>
        {{!-- Logging specific answers array --}}
        {{console_log (lookup ../this.answers questionIndex)}}

        {{#each (lookup ../this.answers questionIndex) as |answer|}}
        <li>
            <button class="answer-btn">
                {{answer}}
            </button>
        </li>
        {{/each}}
    </ol>
    <hr />
</div>
{{/each}}