<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Learning Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Roboto+Mono:ital,wght@1,200&family=Tektur&display=swap"
        rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="nav-wrapper navbar">
            <a class="brand-logo center material-symbols-outlined">network_node</a>
            <ul class="right">
                <li><a href="">Home</a></li>
                <li><a href="">Tutorials</a></li>
                <li><a href="">Quizzes</a></li>
            </ul>
        </div>
    </nav>

    <!-- Home Div -->
    <div class="container">
        <div class="content">
            <h2>Welcome to AI Learning Portal</h2>
            <h1>
                Dive into the World of AI with Interactive Tutorials and Quizzes!
            </h1>
            <div class="button-container">
                <p>
                    Explore key concepts of Artificial Intelligence through engaging
                    tutorials and challenging quizzes. Whether you are a beginner or an
                    advanced learner, our comprehensive resources are designed to
                    enhance your understanding and skills in AI.
                </p>
                <button>Start Learning</button>
            </div>
        </div>
        <img src="/images/aiImage1.webp" alt="AI Learning Image" />
    </div>

    <!-- Quizzes Div -->
    <div class="container">
        <div class="content">
            <h2>Interactive Quizzes</h2>
            <h1>
                Test Your Knowledge with Our AI Quizzes!
            </h1>
            <div class="button-container">
                <p>
                    After learning through our tutorials, challenge yourself with our
                    interactive quizzes. Tailored to reinforce your learning, our
                    quizzes provide instant feedback to help you track your progress.
                </p>
                <button>Take a Quiz</button>
            </div>
        </div>
        <img src="/images/aiImage2.webp" alt="Quizzes Image" />
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
<!-- Footer -->
<footer class="page-footer">
    <div class="footer-container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
                    AI Learning Portal is your gateway to understanding and mastering
                    Artificial Intelligence. Our platform offers a range of tutorials
                    and quizzes to make learning AI accessible and engaging.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Get In Touch!</h5>
                <ul class="right-align">
                    <li>
                        <a class="grey-text text-lighten-3" href="mailto:jackspence.dev@gmail.com">
                            <i class="material-icons left">email</i>jackspence.dev@gmail.com
                        </a>
                    </li>
                    <li style="margin-top: 5px;">
                        <a class="grey-text text-lighten-3" href="https://github.com/Jackspence6">
                            <i class="fab fa-github left" style="font-size: 24px;"></i>@JackSpence6
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div>
            <p>&copy; 2023 Jack Spence. All rights reserved.</p>
        </div>
    </div>
</footer>

</html>