<!-- Home Div -->
<div class="container">
    <div class="content">
        <h2>Welcome to AI Learning Portal</h2>
        <h1>
            Dive into the World of AI with Interactive Tutorials and Quizzes!
        </h1>
        <div class="button-container">
            <p>
                Explore key concepts of Artificial Intelligence through engaging
                tutorials and challenging quizzes. Whether you are a beginner or an
                advanced learner, our comprehensive resources are designed to
                enhance your understanding and skills in AI.
            </p>
            <button>Start Learning</button>
        </div>
    </div>
    <img src="/images/aiImage1.webp" alt="AI Learning Image" />
</div>

<!-- Quizzes Div -->
<div class="container">
    <div class="content">
        <h2>Interactive Quizzes</h2>
        <h1>
            Test Your Knowledge with Our AI Quizzes!
        </h1>
        <div class="button-container">
            <p>
                After learning through our tutorials, challenge yourself with our
                interactive quizzes. Tailored to reinforce your learning, our
                quizzes provide instant feedback to help you track your progress.
            </p>
            <button>Take a Quiz</button>
        </div>
    </div>
    <img src="/images/aiImage2.webp" alt="Quizzes Image" />
</div>