<div id="quiz-heading-container">
    <h2>Quiz Topic: {{quizzes.topic}}</h2>
    <h4>Please answer all 30 multiple-choice questions below. Your responses will be automatically marked and submitted
        as
        soon as you have answered each question.</h4>
</div>
<div class="quiz-container">
    {{> quizQuestions quizzes}}
</div>

<script>
    var correctAnswers = {{{ correctAnswersJSON }}};
</script>
<script src="/js/quizzes.js"></script>