<h2>Topic: {{quizzes.topic}}</h2>
<div class="quiz-container">
    {{> quizQuestions quizzes}}
</div>

<script>
    var correctAnswers = {{{ correctAnswersJSON }}};
</script>
<script src="/js/quizzes.js"></script>