<h4>Explore the Beauty of AI: Login or Sign Up</h4>
<div id="login-page" class="row">
    <div id="login-container" class="col-md-6">
        <h3>Login</h3>

        <form class="form login-form">
            <div class="form-group">
                <label for="username-login">Username:</label>
                <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div id="btnContainer" class="form-group">
                <button id="logBtn" class="btn btn-primary" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
    <div id="signup-container" class="col-md-6">
        <h3>Signup</h3>

        <form class="form signup-form">
            <div class="form-group">
                <label for="username-signup">Username:</label>
                <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div id="btnContainer" class="form-group">
                <button id="SignBtn" class="btn btn-primary" type="submit">
                    Signup
                </button>
            </div>
        </form>
    </div>
</div>