<h1>Quiz Library</h1>
<div id="library-container">
    <h2>Please select a Quiz Topic from the options below <i class="fa-solid fa-down-long fa-bounce"
            style="color: #ffffff;"></i></h2>
    <!-- Quiz Library contents container  -->
    <div id="library-contents-container">
        {{> quizCard }}
    </div>
</div>