<h1>Tutorial Library</h1>
<div id="library-container">
    <!-- Tutorial Library search bar -->
    <nav id="library-search">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required />
                    <label id="search-icon" class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    <!-- Tutorial Library container  -->
    <div id="library-contents-container"></div>
</div>