<h1>Jack's performance Overview</h1>
<div id="progress-container">
    <div class="card performance-card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Quiz ID:</th>
                        <th>Quiz Topic:</th>
                        <th>Activity Status:</th>
                        <th>Quiz Score:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Supervised Learning</td>
                        <td>Eclair</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Unsupervised Learning</td>
                        <td>Jellybean</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Deep Learning</td>
                        <td>Lollipop</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Ensemble Learning</td>
                        <td>Eclair</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Dimensionality Reduction</td>
                        <td>Jellybean</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Clustering</td>
                        <td>Lollipop</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Decision Tree</td>
                        <td>Eclair</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Bayesian</td>
                        <td>Jellybean</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Neural Network</td>
                        <td>Lollipop</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Reinforcement Learning</td>
                        <td>Eclair</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Natural Language Processing</td>
                        <td>Jellybean</td>
                        <td>x/30</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Computer Vision</td>
                        <td>Lollipop</td>
                        <td>x/30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>