/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/
/* 1rem is 13px */
html {
	font-size: 13px;
}
/******************************************/
/* Element Selectors */
/******************************************/
nav {
	background-color: black;
	height: 5rem;
}

/* Logo Icon */
nav .brand-logo {
	font-size: 4.5rem;
}

nav ul li {
	display: inline-block;
	margin-left: 1rem;
}

nav ul li a {
	font-family: "Tektur", cursive;
	text-decoration: 1px dotted whitesmoke underline;
	font-size: 1.15rem;
}

body {
	background-color: #24292e;
}

h1 {
	font-family: fantasy;
	text-align: center;
	color: white;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	margin-bottom: 0;
	margin-top: 4rem;
}

h2 {
	font-family: "Roboto Mono";
	color: white;
	font-size: 2rem;
	margin-top: 1.92rem;
	text-align: center;
	font-weight: bold;
}

h5 {
	border-bottom: 1px solid;
}

a {
	font-weight: bold;
}

p {
	font-family: "Roboto Mono", monospace;
	font-size: 1rem;
	color: black;
}

/* Feature Images */
img {
	height: 30rem;
	width: 45rem;
	border-radius: 1rem;
	order: 2;
}

div.col.l6.col.s12 {
	margin-top: 0.38rem;
}

div.col.l4.offset-l2.col.s12 {
	margin-top: 0.38rem;
}
/******************************************/
/* Class Selectors */
/******************************************/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.77rem;
}

.card {
	border-radius: 1rem;
	background-color: black;
}

.card-content {
	text-align: center;
}

.card .card-content {
	padding: 0%;
	border: 2px dashed white;
	border-radius: 1.15rem;
}

.col.s12 {
	margin-top: 10rem;
}

.row {
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}

.input-field {
	margin-bottom: 0px;
	color: white;
}

.library-card {
	width: 30%;
	margin: 3rem;
}

.card-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 7rem;
}

.card-title {
	color: white;
}

.card .card-content .card-title {
	font-weight: bold;
	font-family: monospace;
	margin: 0;
}

.card .card-title {
	font-weight: bold;
	border-bottom: 0.38rem solid black;
	text-align: center;
	font-family: roboto mono;
	font-size: 1.54rem;
}

.footer-container {
	padding: 0.77rem;
}

.page-footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	justify-content: space-between;
	padding: 0%;
	margin-top: 1rem;
}

.footer-copyright {
	display: flex;
	justify-content: center;
}
/******************************************/
/* ID Selectors */
/******************************************/
#library-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* Quiz Library contents container */
#library-contents-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
/******************************************/
/* Media queries */
/******************************************/
/* Extra small devices */
@media only screen and (max-width: 600px) {
	/* 1rem is 5px */
	html {
		font-size: 5px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	.card .card-title {
		font-size: 7px;
	}

	.card .card-content {
		padding: 0%;
		border: 1px dashed white;
		border-radius: 1.15rem;
	}

	.card .card-content .card-title {
		display: block;
		line-height: 10px;
		margin-bottom: 8px;
	}
}
/* Small devices */
@media only screen and (min-width: 600px) {
	/* 1rem is 8px */
	html {
		font-size: 8px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	.card .card-title {
		font-size: 10px;
	}

	.card .card-content {
		padding: 0%;
		border: 1px dashed white;
		border-radius: 1.15rem;
	}

	.card .card-content .card-title {
		display: block;
		line-height: 10px;
		margin-bottom: 8px;
	}
}

/* Medium devices */
@media only screen and (min-width: 768px) {
	/* 1rem is 10px */
	html {
		font-size: 10px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	.card .card-title {
		font-size: 15px;
	}

	.card .card-content {
		padding: 0%;
		border: 2px dashed white;
		border-radius: 1.15rem;
	}

	.card .card-content .card-title {
		display: block;
		line-height: 20px;
		margin-bottom: 8px;
	}
}

/* Large devices */
@media only screen and (min-width: 992px) {
	/* 1rem is 13px */
	html {
		font-size: 13px;
	}

	/* Logo Icon */
	nav .brand-logo {
		font-size: 4.5rem;
	}

	.card .card-title {
		font-weight: bold;
		border-bottom: 0.38rem solid black;
		text-align: center;
		font-family: roboto mono;
		font-size: 1.54rem;
	}

	.card .card-content {
		padding: 0%;
		border: 2px dashed white;
		border-radius: 1.15rem;
	}

	.card .card-content .card-title {
		font-weight: bold;
		font-family: monospace;
		margin: 0;
	}
}
/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
.card .card-content:hover {
	padding: 0%;
	border: 0.3rem dashed red;
	border-radius: 1.15rem;
}
