/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/
/* 1rem is 13px */
html {
	font-size: 13px;
}
/******************************************/
/* Element Selectors */
/******************************************/
nav {
	background-color: black;
	height: 5rem;
}

/* Logo Icon */
nav .brand-logo {
	font-size: 4.5rem;
}

nav ul li {
	display: inline-block;
	margin-left: 1rem;
}

nav ul li a {
	font-family: "Tektur", cursive;
	text-decoration: 1px dotted whitesmoke underline;
	font-size: 1.15rem;
}

body {
	background-color: #24292e;
}

h1 {
	font-family: fantasy;
	text-align: center;
	color: white;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	margin-bottom: 0;
	margin-top: 4rem;
}

h2 {
	font-family: "Tilt Prism", cursive;
	color: white;
	font-size: 2rem;
	margin-top: 0px;
}

h3 {
	text-align: center;
	margin: 3rem;
}

h5 {
	border-bottom: 1px solid;
}

a {
	font-weight: bold;
}

p {
	font-family: "Roboto Mono", monospace;
	font-size: 1rem;
	color: black;
}

/* Feature Images */
img {
	height: 30rem;
	width: 45rem;
	border-radius: 1rem;
	order: 2;
}

div.col.l6.col.s12 {
	margin-top: 0.38rem;
}

div.col.l4.offset-l2.col.s12 {
	margin-top: 0.38rem;
}
/******************************************/
/* Class Selectors */
/******************************************/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.77rem;
}

.card {
	border-radius: 1rem;
	background-color: black;
}

.card-content {
	text-align: center;
}

.card-content span {
	border-bottom: 2px solid;
}

.card .card-content {
	padding: 0%;
}

.col.s12 {
	margin-top: 10rem;
}

.row {
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}

.input-field {
	margin-bottom: 0px;
	color: white;
}

.library-card {
	width: 35%;
	margin: 3rem;
}

.card-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 25rem;
}

.library-image {
	height: 15rem;
	width: 25rem;
	margin: 2px;
}

.card-title {
	color: white;
}

.card .card-content .card-title {
	margin-bottom: 1rem;
	font-weight: bold;
	padding-bottom: 1rem;
	border-bottom: 2px solid white;
	font-family: roboto mono;
}

.card .card-title {
	font-weight: bold;
	border-bottom: 0.38rem solid black;
	text-align: center;
	font-family: roboto mono;
	font-size: 1.54rem;
}

.footer-container {
	padding: 0.77rem;
}

.page-footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	justify-content: space-between;
	padding: 0%;
	margin-top: 1rem;
}

.footer-copyright {
	display: flex;
	justify-content: center;
}
/******************************************/
/* ID Selectors */
/******************************************/
#library-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* Resource Library contents container */
#library-contents-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
/******************************************/
/* Media queries */
/******************************************/
/* Extra small devices */
@media only screen and (max-width: 600px) {
	/* 1rem is 5px */
	html {
		font-size: 5px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	.library-image {
		height: 10rem;
		width: 15rem;
		margin: 2px;
	}

	.card .card-content .card-title {
		margin-bottom: 1rem;
		font-weight: bold;
		padding-bottom: 1rem;
		border-bottom: 2px solid white;
		font-family: roboto mono;
		line-height: 12px;
	}

	.material-icons.right {
		display: none;
	}

	.card .card-title {
		font-size: 10px;
	}

	.card .card-content {
		padding: 5px;
	}

	.card .card-reveal {
		padding: 15px;
		position: absolute;
		background-color: #fff;
		width: 100%;
		overflow-y: auto;
		left: 0;
		top: 100%;
		height: 100%;
		z-index: 3;
		display: none;
		text-align: center;
	}
}

/* Small devices */
@media only screen and (min-width: 600px) {
	/* 1rem is 8px */
	html {
		font-size: 8px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	.library-image {
		height: 12rem;
		width: 17rem;
		margin: 2px;
	}

	.card .card-content .card-title {
		margin-bottom: 1rem;
		font-weight: bold;
		padding-bottom: 1rem;
		border-bottom: 2px solid white;
		font-family: roboto mono;
		line-height: 12px;
	}

	.material-icons.right {
		display: none;
	}

	.card .card-title {
		font-size: 10px;
	}

	.card .card-content {
		padding: 5px;
	}

	.card .card-reveal {
		padding: 15px;
		position: absolute;
		background-color: #fff;
		width: 100%;
		overflow-y: auto;
		left: 0;
		top: 100%;
		height: 100%;
		z-index: 3;
		display: none;
		text-align: center;
	}
}

/* Medium devices */
@media only screen and (min-width: 768px) {
	/* 1rem is 10px */
	html {
		font-size: 10px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	.library-image {
		height: 13rem;
		width: 18rem;
		margin: 2px;
	}

	.card .card-content .card-title {
		margin-bottom: 1rem;
		font-weight: bold;
		padding-bottom: 1rem;
		border-bottom: 2px solid white;
		font-family: roboto mono;
		line-height: 12px;
	}

	.material-icons.right {
		display: block;
	}

	.card .card-title {
		font-weight: bold;
		border-bottom: 0.38rem solid black;
		text-align: center;
		font-family: roboto mono;
		font-size: 1.54rem;
	}

	.card .card-content {
		padding: 5px;
	}

	.card .card-reveal {
		padding: 15px;
		position: absolute;
		background-color: #fff;
		width: 100%;
		overflow-y: auto;
		left: 0;
		top: 100%;
		height: 100%;
		z-index: 3;
		display: none;
		text-align: center;
	}
}

/* Large devices */
@media only screen and (min-width: 992px) {
	/* 1rem is 13px */
	html {
		font-size: 13px;
	}

	/* Logo Icon */
	nav .brand-logo {
		font-size: 4.5rem;
	}

	.library-image {
		height: 15rem;
		width: 25rem;
		margin: 2px;
	}

	.card .card-content .card-title {
		margin-bottom: 1rem;
		font-weight: bold;
		padding-bottom: 1rem;
		border-bottom: 2px solid white;
		font-family: roboto mono;
		line-height: normal;
		font-size: 15px;
	}

	.material-icons.right {
		display: block;
	}

	.card .card-title {
		font-weight: bold;
		border-bottom: 0.38rem solid black;
		text-align: center;
		font-family: roboto mono;
		font-size: 1.54rem;
	}

	.card .card-content {
		padding: 0%;
	}

	.card .card-reveal {
		padding: 15px;
		position: absolute;
		background-color: #fff;
		width: 100%;
		overflow-y: auto;
		left: 0;
		top: 100%;
		height: 100%;
		z-index: 3;
		display: none;
		text-align: center;
	}
}
/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
