/******************************************/
/* Variable Selectors */
/******************************************/

/******************************************/
/* Universal Selector */
/******************************************/
/* 1rem is 13px */
html {
	font-size: 13px;
}
/******************************************/
/* Element Selectors */
/******************************************/
nav {
	background-color: black;
	height: 5rem;
}

/* Logo Icon */
nav .brand-logo {
	font-size: 4.5rem;
}

nav ul li {
	display: inline-block;
	margin-left: 1rem;
}

nav ul li a {
	font-family: "Tektur", cursive;
	text-decoration: 1px dotted whitesmoke underline;
	font-size: 1.15rem;
}

body {
	background-color: #24292e;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-family: "Tektur";
	text-align: center;
	color: white;
	text-decoration-thickness: 1px;
	margin-bottom: 0;
	margin-top: 4rem;
	font-size: 1.92rem;
}

h2 {
	font-family: "Tilt Prism", cursive;
	color: white;
	font-size: 2rem;
	margin-top: 0px;
}

h3 {
	color: white;
	text-align: center;
	font-family: fantasy;
	font-size: 2.5rem;
	margin-bottom: 0px;
	margin-top: 5rem;
}

h5 {
	border-bottom: 1px solid;
}

div.col.l6.col.s12 {
	margin-top: 0.38rem;
}

div.col.l4.offset-l2.col.s12 {
	margin-top: 0.38rem;
}

th {
	font-size: 1.54rem;
	font-family: fantasy;
	border-bottom: 2px solid;
	padding: 0.54rem;
	border-top: 2px solid;
	text-align: center;
}

table,
td {
	border: 1px solid #2c2b2b;
	padding: 1.38rem;
}

table {
	border: 2px solid;
	border-radius: 1.15rem;
	padding: 0.77rem;
}
/******************************************/
/* Class Selectors */
/******************************************/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.77rem;
}

.page-content {
	flex-grow: 1;
}

.card {
	border-radius: 1rem;
	background-color: black;
}

.card-content span {
	border-bottom: 2px solid;
}

.card .card-content {
	padding: 2.3rem;
}

.col.s12 {
	margin-top: 10rem;
}

.row {
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}

.input-field {
	margin-bottom: 0px;
	color: white;
}

.card-content {
	color: white;
	height: fit-content;
}

.performance-card {
	width: 35%;
	margin: 3rem;
}

.card .card-content .card-title {
	margin-bottom: 1rem;
}

.footer-container {
	padding: 0.77rem;
}

.page-footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	justify-content: space-between;
	padding: 0%;
	margin-top: 1rem;
}

.footer-copyright {
	display: flex;
	justify-content: center;
}

/******************************************/
/* ID Selectors */
/******************************************/
#progress-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/******************************************/
/* Media queries */
/******************************************/
/* Extra small devices */
@media only screen and (max-width: 600px) {
	/* 1rem is 3px */
	html {
		font-size: 3px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	h1 {
		margin-top: 10%;
		font-size: 5rem;
	}

	.card .card-content {
		padding: 1px;
	}

	#progress-container {
		width: 100%;
		margin-top: 40%;
	}

	#progress-container table {
		width: 100%;
	}
}

/* Small devices */
@media only screen and (min-width: 600px) {
	/* 1rem is 6px */
	html {
		font-size: 6px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	.card .card-content {
		padding: 1px;
	}
}

/* Medium devices */
@media only screen and (min-width: 768px) {
	/* 1rem is 7px */
	html {
		font-size: 7px;
	}

	/* Logo Icon */
	nav .brand-logo {
		display: none;
	}

	h1 {
		margin-top: 10%;
		font-size: 4rem;
	}

	#progress-container {
		width: 100%;
		margin-top: 10%;
	}

	#progress-container table {
		width: 100%;
	}

	.card .card-content {
		padding: 1px;
	}
}

/* Large devices */
@media only screen and (min-width: 992px) {
	/* 1rem is 13px */
	html {
		font-size: 13px;
	}

	/* Logo Icon */
	nav .brand-logo {
		font-size: 4.5rem;
	}

	h1 {
		font-family: "Tektur";
		text-align: center;
		color: white;
		text-decoration-thickness: 1px;
		margin-bottom: 0;
		margin-top: 4rem;
		font-size: 3rem;
	}

	#progress-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 5rem;
	}
}
/******************************************/
/* Pseudo Classes and Elements */
/******************************************/
